# Core Django
django
djangorestframework
django-cors-headers
setuptools<82.0.0
# Authentication
djangorestframework-simplejwt

python-dotenv

# PDF Generation
WeasyPrint
pillow
# Production server
gunicorn
whitenoise

# Development
# sqlite3  # Built into Python
